<p>
  {{ printThis }}
</p>
<ul class="flexContainer">
  <li class="apiMediaCard centered rounded" *ngFor="let media of mediaArray" >
    <img src="{{ mediaService.mediaUrl }}{{ media.thumbnail }}"/>
    <h4>{{media.title}}</h4>
    <p>
      {{media.description}}
    </p>
  </li>
</ul>
<div class="searchBoxContainer bluebg rounded">
  <input class="searchBox" [(ngModel)]="stopName" placeholder="Bus stop name"/>
  <button class="searchBtn" (click)="getBusRoutes()">
    <img src="../assets/magnifier.svg"/>
</button>
</div>
<div class="flexContainer bluebg rounded">
<ul *ngIf="busRouteArray">
    <li class="routeCard rounded" *ngFor="let pattern of busRouteArray">
      <h4>{{ pattern.name.split(" ")[0] }}</h4>
      <h5>{{ pattern.route.longName }}</h5>
    </li>
  </ul>
</div>
